.VendingMachineContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    position: relative;
}

.VendingMachine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 35%;
}

.VendingMachine h1 {
    font-size: 3rem;
}

.black-square, .black-square2 {
    height: 250px;
    width: 250px;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.6rem;
}

.black-square a, .black-square2 a {
    color: white;
    padding: 20px;
}

.black-square2 {
    position: absolute;
    top: 39.4%;
    right: 22.9%;
}

.black-square {
    position: absolute;
    left: 18.9%;
    top: 39.3%;
}

.black-square h3 {
    padding: 25px;
}